
Correct
True     4702
False    1556
Name: count, dtype: int64
Accuracy on new data: 0.75
              precision    recall  f1-score   support

         0.0       0.97      0.72      0.83      5156
         1.0       0.41      0.91      0.56      1102

    accuracy                           0.75      6258
   macro avg       0.69      0.81      0.69      6258
weighted avg       0.87      0.75      0.78      6258

Confusion matrix:
[[3697 1459]
 [  97 1005]]
196/196 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Gender	Age(year)	Race	Country_of_birth	Income_category	Height(m)	Weight(kg)	HDL-Cholesterol(mmol/L)	Total_Cholesterol(mmol/L)	Glycohemoglobin(%)	...	100_cigarrettes_life?	BMI	CHOL_ratio	Age_group	BMI_category	High_cholesterol	High_HbA1c	BMI_HbA1c	High_insulin	Cardio_risk
0	1.0	43.0	5.0	2.0	5.0	1.8034	86.182480	1.16	6.83	5.6	...	1.0	26.499328	5.887931	3.0	3.0	1	0	148.396235	1	2
1	1.0	66.0	3.0	1.0	5.0	1.7780	99.790240	1.55	5.53	5.6	...	1.0	31.566364	3.567742	4.0	4.0	0	0	176.771636	1	3
2	2.0	44.0	2.0	2.0	2.0	1.5240	68.038800	1.27	4.84	6.2	...	2.0	29.294542	3.811024	3.0	3.0	0	0	181.626160	1	0
3	1.0	34.0	1.0	1.0	2.0	1.7272	90.718400	1.19	4.73	5.1	...	1.0	30.409559	3.974790	2.0	4.0	0	0	155.088751	0	1
4	1.0	51.0	3.0	1.0	5.0	1.7780	78.925008	1.24	4.73	4.8	...	2.0	24.966124	3.814516	3.0	2.0	0	0	119.837395	0	0
5 rows × 22 columns
























absl-py
aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
catboost
category-encoders
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
cython
datasets
debugpy
decorator
defusedxml
dill
et-xmlfile
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
future
gast
google-pasta
graphviz
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
hyperopt
idna
imageio
imbalanced-learn
imblearn
ipykernel
ipython
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras
keras-applications
keras-preprocessing
kiwisolver
lazy-loader
libclang
lightgbm
llvmlite
lxml
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
multidict
multiprocess
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook-shim
numba
numpy
opencv-python
openpyxl
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
patsy
phik
pillow
pip
platformdirs
plotly
pmdarima
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
pure-eval
py4j
pyarrow
pycparser
pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
pyyaml
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-image
scikit-learn
scipy
seaborn
send2trash
setuptools
shap
six
sklearn-compat
slicer
sniffio
soupsieve
squarify
stack-data
statsmodels
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tf-keras
threadpoolctl
tifffile
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
werkzeug
wheel
wrapt
xgboost
xxhash
yarl